.game-navigation-wrapper {
  display: flex;
  margin-top: -1px;
  flex: 1;
  width: 90%;
}

.game-navigation {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-around;
  flex: 1;
}

.game-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex: 1; 
  justify-content: center;
  align-items: center;
  font-size: 200%;
  background-color: rgb(48, 85, 163);
  border: 1px solid black;
}

.game-link-highlight {
  color: black;
  text-decoration: none;
  display: flex;
  flex: 1; 
  justify-content: center;
  align-items: center;
  font-size: 200%;
  background-color: #fda622;
  border: 1px solid black;
}