.game {
  display: flex;
  background-color: #1b358c;
  text-align: center;
  justify-content: space-evenly;
}

.game-info {
  width: 200px;
  background-color: royalblue;
}

ol {
  list-style-type: none;
  padding: 0px;
}
