div {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  height: 168px;
  width: 600px;
}

.board-rows {
  display: flex;
  width: 600px;
  height: 600px;
  justify-content: space-evenly;
  background-color: black;
}

.status {
  display: flex;
  background-color: #2342aa;
  color: black;
  height: 50px;
  width: auto;
}
