.tile {
  display: flex;
  border: none;
  background-color: #1b358c;
  font-size: 168px;
  align-content: center;
  justify-content: center;
  width: 28%;
  height: 100%;
  flex-wrap: wrap;
}

.tile:focus {
  outline: none;
  color: #aaa;
}
