.link {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-size: calc(20px + 2vmin);
  padding-left: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
